<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#e3f2fd !important">
  <a class="navbar-brand" href="">Strudent Attendance</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/attendance">Attendance</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">User</a>
      </li>
    </ul>
  </div>
  <div class="pull-right" style="cursor:pointer">
    <a class="nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
