<div style="width:550px; margin:0 auto; padding:50px; background:#e3f2fd; margin-top:200px">
    <h2>Login</h2>
  <div>
    <label for="username">Username:</label>
    <input id="username" [(ngModel)]="user.username" class="form-control" type="text">
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" [(ngModel)]="user.password" class="form-control" type="password">
  </div>
  <div style="margin-top:5px">
      <small class="form-text text-muted"><a routerLink="/register">Register!</a></small>
    <button type="submit" style="float:right;" (click)="loginUser()" class="btn btn-primary">Login</button>
  </div>
</div>
