<div class="container" style="margin-top:100px">
  <div class="row">
      <div class="col">
        <h1>Current Course</h1>
        <div *ngIf="activeCourse">
          <span>Name: </span> {{activeCourse.name}} <br>
          <span>Id: </span> {{activeCourse.id}} <br>
          <span>Dates: </span><span *ngFor="let item of activeCourse.dates">{{item.day}} - {{item.hour}}; </span> <br>
          <span>Groups: </span> {{activeCourse.groups}} <br>
          <button class="btn btn-primary" style="float:right" (click)="attend(activeCourse)">Attend</button>
        </div>
      </div>
      <div class="col">
        <h1>Current Laboratory</h1>
        <div *ngIf="activeLaboratory">
            <span>Name: </span> {{activeLaboratory.name}} <br>
            <span>Id: </span> {{activeLaboratory.id}} <br>
            <span>Dates: </span> <span *ngFor="let item of activeLaboratory.dates">{{item.day}} - {{item.hour}}; </span>  <br>
            <span>Groups: </span> {{activeLaboratory.groups}} <br>
            <button class="btn btn-primary" style="float:right" (click)="attend(activeLaboratory)">Attend</button>

          </div>
      </div>
  </div>
</div>
