<div style="width:550px; margin:0 auto; padding:50px; background:#e3f2fd; margin-top:150px">
  <h2>Register</h2>
  <div>
    <label for="username">Username:</label>
    <input id="username" [(ngModel)]="user.username" class="form-control" type="text">
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" [(ngModel)]="user.password" class="form-control" type="password">
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="user.email" class="form-control" type="text">
  </div>
  <div>
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="user.name" class="form-control" type="text">
  </div>
  <div>
    <label for="surname">Surname:</label>
    <input id="surname" [(ngModel)]="user.surname" class="form-control" type="text">
  </div>
  <div>
      <label for="group">Group:</label>
      <input id="group" [(ngModel)]="user.id" class="form-control" type="text">
    </div>

  <div style="margin-top:10px">
    <button type="submit" style="float:right;" (click)="registerUser()" class="btn btn-primary">Register</button>
  </div>
</div>
